{{define "header"}}

<div>
<span> <a href="/">Home</a> </span>
<span> <a href="/">About Luc's Electronics</a> </span>
<span> <a href="https://www.yext.com">Investor Relations</a> </span>
</div>

{{end}}